[init]
	defaultBranch = main
[user]
	name = j1nxie
	email = rylieeeeexd@gmail.com
	signingkey = /home/lumi/.ssh/id_ed25519.pub
[includeIf "gitdir:~/projects/Nabit/"]
	path = ~/.gitconfig.work
[core]
	editor = nvim
	pager = delta
	autocrlf = input
	excludesfile = /home/lumi/.gitignore_global
[pull]
	rebase = true
[color]
	ui = auto
[credential]
	helper = store
[gpg]
	format = ssh
[commit]
	gpgsign = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[push]
	autoSetupRemote = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	light = true
[merge]
	conflictstyle= diff3
[diff]
	colorMoved = default
