[init]
	defaultBranch = main
[user]
	name = j1nxie
	email = rylieeeeexd@gmail.com
	signingkey = /home/lumi/.ssh/id_ed25519.pub
[core]
	editor = nvim
	autocrlf = input
[pull]
	rebase = true
[color]
	ui = auto
[safe]
	directory = C:/Users/chief/Desktop/projects/solutions
	directory = C:/Users/chief/AppData/Local/nvim-data/plugged/chadtree
	directory = /mnt/hgfs/projects/kt-maimaidx-site-importer
[credential]
	helper = store
[gpg]
	format = ssh
[commit]
	gpgsign = true
