set scrolloff=5
set incsearch
set clipboard+=unnamed
set number relativenumber

map Q gq

Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'

nmap j gj
nmap k gk
map H ^
map L $
map <C-h> <C-W>h
map <C-j> <C-W>j
map <C-k> <C-W>k
map <C-l> <C-W>l
nmap <up> <nop>
nmap <down> <nop>
nmap <left> <Action>(PreviousTab)
nmap <right> <Action>(NextTab)
imap <up> <nop>
imap <down> <nop>
imap <left> <nop>
imap <right> <nop>

set ideajoin