@import "macchiato.css";

* {
	border: none;
	border-radius: 0;
	font-family: "Noto Sans Mono", "Noto Sans CJK", "Twemoji", Helvetica, Arial, sans-serif;
	font-size: 13px;
	min-height: 0;
	color: @text;
}

window#waybar {
	background: transparent;
	border-bottom: 3px solid transparent;
}

#workspaces button {
	padding: 0 5px;
	margin: 0 3px;
	border-bottom: 3px solid transparent;
}

#workspaces button.active {
	background: @surface0;
	border-bottom: 3px solid white;
}

#window {
	margin-left: 5px;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#temperature,
#backlight,
#idle_inhibitor,
#custom-media {
	padding: 0 6px;
	margin: 0 3px;
	border-bottom: 3px solid white;
}

#battery {
	padding: 0 15px 0 6px;
}

@keyframes blink {
	to {
		background-color: rgba(1, 1, 1, 0);
	}
}

#battery.warning:not(.charging) {
	background: #f53c3c;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#pulseaudio.muted {
	border-bottom: 3px solid palegoldenrod;
}
